# .prettierignore
dist/
node_modules/
*.min.js
*.min.css
package-lock.json
pnpm-lock.yaml
yarn.lock

# 构建输出
build/
coverage/
.nuxt/
.next/
.vite/

# 编译文件
# *.d.ts

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# 环境变量
.env
.env.*

# IDE
.vscode/
.idea/